[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "growthcurver"]
	path = growthcurver
	url = https://github.com/sprouffske/growthcurver
